body{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #5c06b3;
  color: azure;
  text-align: center;
  padding-top: 8%;
}
.row{
  border: 1px solid #400b75;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  box-shadow: 0 0 8px #400b75;
  background-color: rgb(26, 26, 26);
  background-image:url(images/back.jpg);
  background-size:cover;
  padding: 10px;
}
.row:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1{
  font-size: 60px;
  color: rgb(248, 196, 64);
  margin-top: 5px;
}
span{
  font-size: 50px;
  margin-left: 10px ;
  color:aliceblue;
}
button{
   border: 1px solid rgb(253, 184, 9);
   background-color: rgb(248, 196, 64);
   color: #400b75;
   width: 150px;
   font-weight: bold;
   padding: 10px 0px;
   font-size: 25px;
   transition: all 0.3s ease;
   margin: 5px;
   border-radius: 4px;
}
button:hover{
   background-color:  transparent;
   color: antiquewhite;
   border-radius: 10px;
   border:  2px solid rgb(253, 184, 9);
}
p{
  font-size: 25px;
}
input{
  width: 150px;
  height: 40px;
  font-size: 35px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.infoch{
  display: flex;
}
.info{
  align-items: right;
  margin: 0px;
  padding: 0px;
  width: 30px;
  font-weight: bold;
  height: 30px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
}
.info:hover{
  background-color: red;
  color:black;

}
.rule{
  margin: 0px;
  padding: 5px;
  font-size: 16px;
}